<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zut.personalBlog.dao.LogtableDao">
 <insert id="addBlogById">
  insert logtable(
  id,
   date,
   title,
   content,
   category_id,
   number,
   likes
  )values(
  #{id},
  #{date},
  #{title},
  #{content},
  #{category_id},
  #{number},
  #{likes}
  )
 </insert>
 <update id="updateBlogById">
  update logtable
  <set>
   <if test="date !=null">
    date=#{date},
   </if>
   <if test="title !=null">
   title=#{title},
   </if>
   <if test="content !=null">
   content=#{content},
   </if>
   <if test="category_id !=null">
   category_id=#{category_id}
   </if>
  </set>
  where id=#{id}
 </update>
 <delete id="deleteBlogById">
 delete from logtable where id=#{id}
 </delete>
 
 
<select id="selectBlogById" resultType="Logtable">
 select * from logtable where id = #{id}
 </select>
 
 <select id="selectAll" resultType="Logtable">
 select * from logtable 
 </select>
 
 <select id="selectAllBlogById" resultType="Logtable">
 select * from logtable left join category on logtable.category_id=category.id
 </select>
 
 <update id="updateLikesById">
 update  logtable set likes=likes+1 where id=#{id}
 </update>
 
  <update id="updateNumbersById">
 update  logtable set number=number+1 where id=#{id}
 </update>
 
 
</mapper>